# Server hostname/IP address to bind to
HOSTNAME=0.0.0.0

# Port number for the container to listen on
CONTAINER_PORT=3000

# ––––––––––––––––––––––––––––––––––––––
# –––––––––––––  DATABASE  –––––––––––––
# ––––––––––––––––––––––––––––––––––––––

# Database settings
POSTGRES_USER=myusername
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

# ––––––––––––––––––––––––––––––––––––––
# ––––––––––– AUTHENTICATION –––––––––––
# ––––––––––––––––––––––––––––––––––––––

# Enable or disable authentication (true/false)
AUTH_ENABLED=true

# Database connection URL (can be the same as DATABASE_URL if using the same database)
AUTH_DRIZZLE_URL=${DATABASE_URL}

# Base public URL for authentication callbacks and redirects
AUTH_URL=http://localhost:3000

# Trust the host header in proxied environments
AUTH_TRUST_HOST=true

# Secret key for signing and encrypting auth tokens
# (can be generated using `openssl rand -base64 32`)
AUTH_SECRET=

# GitHub OAuth application client ID
# (see https://docs.github.com/en/developers/apps/building-oauth-apps/creating-an-oauth-app#registering-your-application)
GITHUB_ID=

# GitHub OAuth application client secret
GITHUB_SECRET=

# Comma-separated list of allowed email addresses for access (optional)
ALLOWED_EMAILS=
